<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dk.scorecheckdemo.mapper.ClassPoMapper" >
  <resultMap id="BaseResultMap" type="com.dk.scorecheckdemo.po.ClassPo" >
    <result column="cls_id" property="clsId" jdbcType="VARCHAR" />
    <result column="cls_start" property="clsStart" jdbcType="DATE" />
    <result column="cls_end" property="clsEnd" jdbcType="DATE" />
    <result column="cls_type" property="clsType" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.dk.scorecheckdemo.po.ClassPo" extends="BaseResultMap" >
    <result column="cls_desc" property="clsDesc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cls_id, cls_start, cls_end, cls_type
  </sql>
  <sql id="Blob_Column_List" >
    cls_desc
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.dk.scorecheckdemo.po.ClassPoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_class
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dk.scorecheckdemo.po.ClassPoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_class
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.dk.scorecheckdemo.po.ClassPoExample" >
    delete from tb_class
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dk.scorecheckdemo.po.ClassPo" >
    insert into tb_class (cls_id, cls_start, cls_end, 
      cls_type, cls_desc)
    values (#{clsId,jdbcType=VARCHAR}, #{clsStart,jdbcType=DATE}, #{clsEnd,jdbcType=DATE}, 
      #{clsType,jdbcType=VARCHAR}, #{clsDesc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dk.scorecheckdemo.po.ClassPo" >
    insert into tb_class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clsId != null" >
        cls_id,
      </if>
      <if test="clsStart != null" >
        cls_start,
      </if>
      <if test="clsEnd != null" >
        cls_end,
      </if>
      <if test="clsType != null" >
        cls_type,
      </if>
      <if test="clsDesc != null" >
        cls_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clsId != null" >
        #{clsId,jdbcType=VARCHAR},
      </if>
      <if test="clsStart != null" >
        #{clsStart,jdbcType=DATE},
      </if>
      <if test="clsEnd != null" >
        #{clsEnd,jdbcType=DATE},
      </if>
      <if test="clsType != null" >
        #{clsType,jdbcType=VARCHAR},
      </if>
      <if test="clsDesc != null" >
        #{clsDesc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dk.scorecheckdemo.po.ClassPoExample" resultType="java.lang.Integer" >
    select count(*) from tb_class
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_class
    <set >
      <if test="record.clsId != null" >
        cls_id = #{record.clsId,jdbcType=VARCHAR},
      </if>
      <if test="record.clsStart != null" >
        cls_start = #{record.clsStart,jdbcType=DATE},
      </if>
      <if test="record.clsEnd != null" >
        cls_end = #{record.clsEnd,jdbcType=DATE},
      </if>
      <if test="record.clsType != null" >
        cls_type = #{record.clsType,jdbcType=VARCHAR},
      </if>
      <if test="record.clsDesc != null" >
        cls_desc = #{record.clsDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update tb_class
    set cls_id = #{record.clsId,jdbcType=VARCHAR},
      cls_start = #{record.clsStart,jdbcType=DATE},
      cls_end = #{record.clsEnd,jdbcType=DATE},
      cls_type = #{record.clsType,jdbcType=VARCHAR},
      cls_desc = #{record.clsDesc,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_class
    set cls_id = #{record.clsId,jdbcType=VARCHAR},
      cls_start = #{record.clsStart,jdbcType=DATE},
      cls_end = #{record.clsEnd,jdbcType=DATE},
      cls_type = #{record.clsType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>