<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dk.scorecheckdemo.mapper.UserPoMapper" >
  <resultMap id="BaseResultMap" type="com.dk.scorecheckdemo.po.UserPo" >
    <id column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="uname" property="uname" jdbcType="VARCHAR" />
    <result column="upassword" property="upassword" jdbcType="VARCHAR" />
    <result column="uprivilege" property="uprivilege" jdbcType="INTEGER" />
    <result column="u_fn_id" property="uFnId" jdbcType="VARCHAR" />
    <result column="log_count" property="logCount" jdbcType="INTEGER" />
    <result column="last_visit" property="lastVisit" jdbcType="TIMESTAMP" />
    <result column="last_ip" property="lastIp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    uid, uname, upassword, uprivilege, u_fn_id, log_count, last_visit, last_ip
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dk.scorecheckdemo.po.UserPoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_user
    where uid = #{uid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_user
    where uid = #{uid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dk.scorecheckdemo.po.UserPoExample" >
    delete from tb_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dk.scorecheckdemo.po.UserPo" >
    insert into tb_user (uid, uname, upassword, 
      uprivilege, u_fn_id, log_count, 
      last_visit, last_ip)
    values (#{uid,jdbcType=VARCHAR}, #{uname,jdbcType=VARCHAR}, #{upassword,jdbcType=VARCHAR}, 
      #{uprivilege,jdbcType=INTEGER}, #{uFnId,jdbcType=VARCHAR}, #{logCount,jdbcType=INTEGER}, 
      #{lastVisit,jdbcType=TIMESTAMP}, #{lastIp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dk.scorecheckdemo.po.UserPo" >
    insert into tb_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="uname != null" >
        uname,
      </if>
      <if test="upassword != null" >
        upassword,
      </if>
      <if test="uprivilege != null" >
        uprivilege,
      </if>
      <if test="uFnId != null" >
        u_fn_id,
      </if>
      <if test="logCount != null" >
        log_count,
      </if>
      <if test="lastVisit != null" >
        last_visit,
      </if>
      <if test="lastIp != null" >
        last_ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="upassword != null" >
        #{upassword,jdbcType=VARCHAR},
      </if>
      <if test="uprivilege != null" >
        #{uprivilege,jdbcType=INTEGER},
      </if>
      <if test="uFnId != null" >
        #{uFnId,jdbcType=VARCHAR},
      </if>
      <if test="logCount != null" >
        #{logCount,jdbcType=INTEGER},
      </if>
      <if test="lastVisit != null" >
        #{lastVisit,jdbcType=TIMESTAMP},
      </if>
      <if test="lastIp != null" >
        #{lastIp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dk.scorecheckdemo.po.UserPoExample" resultType="java.lang.Integer" >
    select count(*) from tb_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_user
    <set >
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=VARCHAR},
      </if>
      <if test="record.uname != null" >
        uname = #{record.uname,jdbcType=VARCHAR},
      </if>
      <if test="record.upassword != null" >
        upassword = #{record.upassword,jdbcType=VARCHAR},
      </if>
      <if test="record.uprivilege != null" >
        uprivilege = #{record.uprivilege,jdbcType=INTEGER},
      </if>
      <if test="record.uFnId != null" >
        u_fn_id = #{record.uFnId,jdbcType=VARCHAR},
      </if>
      <if test="record.logCount != null" >
        log_count = #{record.logCount,jdbcType=INTEGER},
      </if>
      <if test="record.lastVisit != null" >
        last_visit = #{record.lastVisit,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastIp != null" >
        last_ip = #{record.lastIp,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_user
    set uid = #{record.uid,jdbcType=VARCHAR},
      uname = #{record.uname,jdbcType=VARCHAR},
      upassword = #{record.upassword,jdbcType=VARCHAR},
      uprivilege = #{record.uprivilege,jdbcType=INTEGER},
      u_fn_id = #{record.uFnId,jdbcType=VARCHAR},
      log_count = #{record.logCount,jdbcType=INTEGER},
      last_visit = #{record.lastVisit,jdbcType=TIMESTAMP},
      last_ip = #{record.lastIp,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dk.scorecheckdemo.po.UserPo" >
    update tb_user
    <set >
      <if test="uname != null" >
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="upassword != null" >
        upassword = #{upassword,jdbcType=VARCHAR},
      </if>
      <if test="uprivilege != null" >
        uprivilege = #{uprivilege,jdbcType=INTEGER},
      </if>
      <if test="uFnId != null" >
        u_fn_id = #{uFnId,jdbcType=VARCHAR},
      </if>
      <if test="logCount != null" >
        log_count = #{logCount,jdbcType=INTEGER},
      </if>
      <if test="lastVisit != null" >
        last_visit = #{lastVisit,jdbcType=TIMESTAMP},
      </if>
      <if test="lastIp != null" >
        last_ip = #{lastIp,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dk.scorecheckdemo.po.UserPo" >
    update tb_user
    set uname = #{uname,jdbcType=VARCHAR},
      upassword = #{upassword,jdbcType=VARCHAR},
      uprivilege = #{uprivilege,jdbcType=INTEGER},
      u_fn_id = #{uFnId,jdbcType=VARCHAR},
      log_count = #{logCount,jdbcType=INTEGER},
      last_visit = #{lastVisit,jdbcType=TIMESTAMP},
      last_ip = #{lastIp,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=VARCHAR}
  </update>
</mapper>